<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/pythonicon.ico') }}">
 	{% block Title %}
  	<title>Learning With Python</title>
  	<meta name="description" content="Python Machine learning and Data anlysis Library">
  	<meta name="keywords" content="Python data analysis example, Machine learning with Python, supervised learning, Twitter data analysis">
  	<meta name="author" content="Sajjan Kumar">
  	{% endblock %}

  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}">
  	{%block css %}

  	{% endblock %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90378006-1', 'auto');
  ga('send', 'pageview');

</script>

  	
</head>

<body>

	<!-- fixed Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
         
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{ url_for('home') }}">LearningWithPython.com</a>

        </div>
        <div id="mynavbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('TodayILearn') }}">TodayILearn</a></li>
            <li><a href="{{ url_for('LearnWithPython') }}">LearnWithPython</a></li>
            <li><a href="{{ url_for('bookshelf') }}">bookshelf</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>

	<div class="container">
	{% block blogpost %}
			<div class="row">
			{% for post in learnwithpython_posts %}
				<div class="col-xs-6 col-lg-6">
				<h2> <a href="{{ url_for('LearnWithPython_post', name=post.path.replace('LearnWithPython/', '')) }}"> {{ post.title }} </a> </h2>
				<hr>
				<p> {{ post.description }} </p>


				</div>

			{% endfor %}
			</div>

			<div class="row">
			{% for post in til_posts %}
				<div class="col-xs-6 col-lg-6">
				<h2> <a href="{{ url_for('TodayILearn_post', name=post.path.replace('TodayILearn/', '')) }}"> {{ post.title }} </a> </h2>
				<hr>
				<p> {{ 	post.description }} </p>


				</div>

			{% endfor%}
			</div>
			
				

		
	{% endblock %}
	</div> <!-- .container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">© 2016 LearningWithPython.com</p>
      </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>