{% extends "base.html" %}
{% block Title %}
	<title> Learning With Python </title>
{% endblock %}

{% block blogpost %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th> # </th>
							<th> Book</th>
							<th> Description </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> 1 </td>
							<td> 
							<a target="_blank"  href="https://www.amazon.in/gp/offer-listing/0596001673/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=0596001673&linkCode=am2&tag=httpallisvoib-21&linkId=e641924930f651eeb47b3b2cea99fe46"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=0596001673&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=httpallisvoib-21" alt="Python Cookbook " ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=httpallisvoib-21&l=am2&o=31&a=0596001673" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

							</td>

							<td> If you need to update older Python or you’re new to all this stuff, this book would be perfect start for you. (Beginner Level)
							</td>
						</tr>
						<tr>
							<td>2 </td>
							<td><a target="_blank"  href="https://www.amazon.in/gp/offer-listing/9352130960/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=9352130960&linkCode=am2&tag=httpallisvoib-21&linkId=4133e4d8669e50f40985c584e61827fb"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=9352130960&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=httpallisvoib-21" alt="Data Sciencec from Scratch" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=httpallisvoib-21&l=am2&o=31&a=9352130960" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							 </td>
							<td> Data science libraries, frameworks, modules, and toolkits are great for doing data science, but from where should you start? If you know a little bit of python and have great dedication, go for this book.
							</td>
						</tr>

						<tr>
							<td> 3 </td>
							<td>
								<a target="_blank"  href="https://www.amazon.in/gp/offer-listing/1449319793/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=1449319793&linkCode=am2&tag=httpallisvoib-21&linkId=0b8a0cd08846c3378c024ca8eb8d826b"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=1449319793&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=httpallisvoib-21" alt="Python for Data Analysis " ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=httpallisvoib-21&l=am2&o=31&a=1449319793" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</td>
							<td> You hear about Pandas, Numpy, Ipython but can’t figure out. No worry, start your journey with this book. Along with some libraries, this book also gives an idea about how these libraries can be used for Data Analysis.  
							</td>
						</tr>

						<tr>
							<td> 4 </td>
							<td>
								<a target="_blank"  href="https://www.amazon.in/gp/offer-listing/1782167854/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=1782167854&linkCode=am2&tag=httpallisvoib-21&linkId=c0e873fe86650d49b4be51f1ae94e04a"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=1782167854&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=httpallisvoib-21" alt="Python 3 Text Processing With NLTK3 Cookbook " ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=httpallisvoib-21&l=am2&o=31&a=1782167854" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</td>

							<td>
								This book is intended for Python programmers interested in learning how to do natural language processing.
							</td>
						</tr>
					</tbody>
					
				</table>
				
			</div>
			
		</div>
    </div>


{% endblock %}

